* {
  margin: 5px;
}

.body {
  margin: 0;
  background:rgb(245, 252, 255);
}

.body_dark {
  background:#292929;
  color:rgb(245, 252, 255);
}

.textarea {
  display: block;
  
}

.button {
  background: rgb(174, 211, 229);
  border: none;
  padding: 10px;
}

.message {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  border: 2px solid rgb(174, 211, 229);
  border-radius: 10px;

  &__delete-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgb(174, 211, 229);;
    border: 2px solid rgb(174, 211, 229);
    border-radius: 50%;
  }
}

.correct-input {
  background: none;
  width: 300px;
  padding: 10px;
  border: 2px solid rgb(174, 211, 229);
  border-radius: 10px;
}

.textarea-wrapper {
  display: flex;
}

.welcome-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  padding: 5px;
  background:rgb(91, 139, 163);
  color: white;
}

.selector-menu {
  width: 150px;
  height: auto;
  padding: 6px;
  cursor: pointer;
  background: rgba(174, 211, 229, 50%);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  color: rgb(95, 95, 95);
}

.cards-wrapper {
  display: flex;
  gap: 5px;
}

.card {
  border: 1px solid black;
  display: inline;
  width: 10%;
  margin: 0;
}